<header class="uk-small-hidden header">
		<nav class="uk-navbar header-nav" data-uk-navbar data-uk-sticky="cls-active: uk-navbar-sticky">
			<div class="uk-container uk-container-center">
				<a  routerLink="/app/home"  class="uk-navbar-brand logo_link">
					<img class="uk-responsive-height logo" src="../../assets/photos/image.ibb.co/cu4B2b/white_logo.png" alt="">
				</a>
				<div class="uk-navbar-flip uk-visible-large">
					<ul class="uk-navbar-nav header-nav-list">
						<li class="header_nav_list_item">
							<a routerLink="/app/home" fragment="products" (click)="onAnchorClick()" class="link_features header_nav_list_item_link" >Product</a>
						</li>
						<li class="header_nav_list_item">
							<a routerLink="/app/home" fragment="why" (click)="onAnchorClick()" class="link_offer header_nav_list_item_link" >Why Amortree ?</a>
						</li>
						<li class="header_nav_list_item">
							<a routerLink="/app/home" fragment="dyk" (click)="onAnchorClick()" class="link_pricing header_nav_list_item_link" >Did you know ?</a>
						</li>
						<li class="header_nav_list_item">
							<a routerLink="/app/home" fragment="newsletter" (click)="onAnchorClick()" class="link_clients header_nav_list_item_link" >Newsletter</a>
						</li>
					</ul>
				</div>
				<div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
					<div data-ng-click="toggleMobileNav($event)" class="uk-navbar-toggle header_navbar_mobile"></div>
				</div>
			</div>
		</nav>
	</header>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	  <li data-target="#myCarousel" data-slide-to="1"></li>
	  <li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
  
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	  <div class="item active">
		<img src="../assets/slider/images/why_slider.jpg" alt="Why">
		<div class="carousel-caption">
			<h3>Take care of your body, it's the  only place you have to live</h3>
			
      <a routerLink="/app/home" fragment="why" (click)="onAnchorClick()">
				<input type="image" src="../assets/slider/images/why.png" alt="alt text" style="width: 430px;height: 100px;margin-top: 280px" />
			</a>
		</div>
	  </div>
  
	  <div class="item">
		<img src="../assets/slider/images/product_slider.jpg" class="slider" alt="Products">
		<div class="carousel-caption">
      <h3><br>Sanitary pads are a necessity, not a luxury<br><br></h3>
      <a routerLink="/app/home" fragment="products" (click)="onAnchorClick()">
				<input type="image" src="../assets/slider/images/products.png" alt="alt text" style="width: 430px;height: 100px;margin-top: 280px" />
			</a>
		</div>
	  </div>
  
	  <div class="item">
		<img src="../assets/slider/images/dyk_slider.jpg" alt="Did you know">
		<div class="carousel-caption">
      <h3>World's first gel based organic and compostable sanitary napkin from "SeaGrass"</h3>
      <a routerLink="/app/home" fragment="dyk" (click)="onAnchorClick()">
				<input type="image" src="../assets/slider/images/dyk.png" alt="alt text" style="width: 430px;height: 100px;margin-top: 280px" />
			</a>
		</div>
	  </div>

	</div>
  
	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span>
			<img style="width:30px;height:30px;" src="../assets/slider/images/back.png">
		</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span>
			<img style="width:30px;height:30px;" src="../assets/slider/images/next.png">
		</span>
	</a>
  </div>


  <hr id="dyk" style="clear: both; visibility: hidden; margin:0; padding: 0"/>
<section class="features grey_overlay section">
		
	<div class="uk-container uk-container-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-center uk-text-contrast animated section_title features_title">Did you know ?</h3>
		<h4 class="uk-h4 uk-text-contrast uk-text-center uk-margin-large-bottom animated section_subtitle">Pads are a necessity, not a luxury</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-graduation-cap features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Education</h4>
						<p class="uk-text-contrast features_text">Girls may miss school during their periods due to lack of facilities or necessary supplies.</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-heartbeat features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Health</h4>
						<p class="uk-text-contrast features_text">Use of unhygienic pads can lead to infection</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-line-chart features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Economics</h4>
						<p class="uk-text-contrast features_text">Women may miss work if they don't have access to the supplies of facilities they need</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 aligner2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-female features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Dignity</h4>
						<p class="uk-text-contrast features_text">Girls may suffer from discomfort, endure teasing, shaming and facing exclusion from everyday activities.</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 aligner uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-users features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Participation</h4>
						<p class="uk-text-contrast features_text">Girls may be distracted during school, work and other activities dur to pain, discomfort and fear of leaks.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	
	<hr id="why" style="clear: both; visibility: hidden; margin:0; padding: 0" />
	<section class="video_preview grey_overlay section">	
			<div class="uk-container uk-container-center uk-text-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
				<h3 class="uk-h3 uk-text-contrast animated section_title team_title">Why choose Biodegradable pads?</h3>
				<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">Because both women's health and environment matters </h4>
				<section class="elements section">

						
						
							<div class="uk-grid uk-grid-large">
								<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
									<div class="uk-margin-large-bottom elements_item">
										<div class="uk-icon-thumbs-o-up uk-border-circle elements_item_label"></div>
										<h4 class="uk-h4 elements_item_text">Health care</h4>
										<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
									</div>
								</div>
								<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
									<div class="uk-margin-large-bottom elements_item">
										<div class="uk-icon-line-chart uk-border-circle elements_item_label"></div>
										<h4 class="uk-h4 elements_item_text">Women empowerment
											</h4>
										<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
									</div>
								</div>
								<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
									<div class="uk-margin-large-bottom elements_item">
										<div class="uk-icon-bar-chart-o uk-border-circle elements_item_label"></div>
										<h4 class="uk-h4 elements_item_text">Pollution control</h4>
										<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
									</div>
								</div>
								<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
									<div class="uk-margin-large-bottom elements_item">
										<div class="uk-icon-clock-o uk-border-circle elements_item_label"></div>
										<h4 class="uk-h4 elements_item_text">Improve livelihood of fishermen</h4>
										<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
									</div>
								</div>
							</div>
						
					</section>
			</div>
		</section>

		<hr id="products" style="clear: both; visibility: hidden; margin:0; padding: 0"/>
<section class="description section promo">
		
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-large-1-2 uk-flex uk-flex-middle">
			<div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
				<h3 class="uk-h3 uk-margin-large-bottom animated description_title">Conventional Sanitary Pads Are Hazardous for Health
				</h3>
					<ul class="animated description_text">
						<li>Existing Sanitary napkins are made of >90% synthetic plastics and Nanoplastics</li>
						<li>Cause allergy and rashes to the skin</li>
						<li>Contains traces of hazardous chemicals like: dioxin, furan, rayon, herbicides, pesticides and many more.</li>
						<li>Cause infertility as well as birth defects</li>
					</ul>
			</div>
		</div>
		<div class="uk-width-large-1-2 description_image" data-image="../assets/images/background for pads.png"></div>
	</div>
</section>


<hr id="newsletter" style="clear: both; visibility: hidden; margin:0; padding: 0" />
<section class="contact grey_overlay section">
		<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
			<h3 class="uk-h3 uk-position-relative uk-text-contrast animated section_title contact_title">Newsletter</h3>
			<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">Always stay up to date with our online newsletter</h4>
	
			<form  #form="ngForm"   (ngSubmit)="onSubmitAddUser(form.value)" novalidate class="uk-form animated form_send_message" autocomplete="off">
				<div class="uk-grid uk-grid-small uk-container-center uk-width-medium-2-3 uk-width-large-1-2 uk-margin-bottom">
						<input name="id" type="hidden"     [(ngModel)]="id" /> 
					<div class="uk-width-small-1-2 uk-margin-bottom">
						<input name="name" class="uk-width-1-1 uk-text-contrast form_input" type="text"  required  ngModel placeholder="Name">
					</div>
					<div class="uk-width-small-1-2 uk-margin-bottom">
						<input name="lastname" class="uk-width-1-1 uk-text-contrast form_input" type="text"  required  ngModel placeholder="Last Name">
					</div>
					<div class=" uk-margin-bottom uk-width-1-1">
						<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="text"  required ngModel placeholder="E-mail">
					</div>
					<div class="uk-margin-bottom uk-width-1-1">
						<button class="uk-button button_custom_green uk-width-1-1 form_button" type="submit" > Submit </button>
					</div>
				</div>
	
				<div class="success">Your message has been sent successfully.</div>
				<div class="success_response"></div>
	
				<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
				<div class="error_response"></div>
			</form>
		</div>
	</section>
	<footer class="footer">
			<div class="uk-container uk-container-center uk-text-center">
				<ul class="uk-list social_list">
					<li class="social_list_item">
						<a class="uk-icon-facebook social_list_item_link" href="#"></a>
					</li>
					<li class="social_list_item">
						<a class="uk-icon-twitter social_list_item_link" href="#"></a>
					</li>
					<li class="social_list_item">
						<a class="uk-icon-google-plus social_list_item_link" href="#"></a>
					</li>
					<li class="social_list_item">
						<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
					</li>
					<li class="social_list_item">
						<a class="uk-icon-pinterest social_list_item_link" href="#"></a>
					</li>
					<li class="social_list_item">
						<a class="uk-icon-dribbble social_list_item_link" href="#"></a>
					</li>
					<li class="social_list_item">
						<a class="uk-icon-youtube social_list_item_link" href="#"></a>
					</li>
				</ul>
				<div class="footer_message">© 2018 India.</div>
			</div>
		</footer>